.dsf-filter-container {  
  width: 1200px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.dsf-filter-container input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #C2C2C2;
  display: flex;
  align-items: center;
}

.dsf-filter-container button {
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #55bc04;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

.dsf-filter-container input:focus {
  outline: none;
}

.dsf-filter-container input::placeholder {
  color: #C2C2C2;
}
